.side-menu {
  background-color: $color-blue;
  color: $color-white;
  width: 320px;
  min-width: 320px;

  .section {
    background-color: $color-dark-grey;
    margin: 0;
    padding: 0;
    .section-header {
      background-color: $color-blue;
      display: flex;
      fill: $color-white;
      border-bottom: 3px solid $color-dark-blue;
      img {
        margin-right: 1rem;
        color: $color-white;

        fill: $color-white;
        margin-left: 1rem;
      }

      .title {
        font-size: 2.2rem;
      }
    }
  }
  .section:last-child {
    border-bottom: none;
  }
}

.accordion-section {
  background-color: $color-dark-grey;
  height: 100%;
  margin: 0;
  padding: 0;
  .sub-menu-item {
    padding: 1.5rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .sub-menu-item-name,
    .sub-menu-item-content {
      font-weight: bold;
    }
    img {
      width: 14px;
      height: 14px;
    }
  }
}
